<h1>Edit Book: <%= book.title %></h1>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= book.title %>" required>
    
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" value="<%= book.author %>" required>
    
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" step="0.01" value="<%= book.price %>" required>
    
    <label for="stock_quantity">Stock Quantity:</label>
    <input type="number" id="stock_quantity" name="stock_quantity" value="<%= book.stock_quantity %>" required>
    
    <label for="description">Description:</label>
    <textarea id="description" name="description"><%= book.description %></textarea>
    
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" value="<%= book.isbn %>" required>
    
    <div class="categories">
        <p>Categories:</p>
        <% categories.forEach(category => { %>
            <label>
                <input type="checkbox" name="category_ids" value="<%= category.id %>"
                    <% if (bookCategories.includes(category.id)) { %>checked<% } %>>
                <%= category.name %>
            </label>
        <% }) %>
    </div>
    
    <label for="admin_password">Admin Password:</label>
    <input type="password" id="admin_password" name="admin_password" required>
    
    <button type="submit">Update Book</button>
</form>